.comp-finList-box {
  width: 100%;
  margin-bottom: 25px;
  border-radius: 10px;
  padding: 17px;
  color: #d5dadd;
  background: #2C2E52;
}

.finlist-header {
  width: 100%;
  display: flex;
}

.finList-title {
  font-size: 18px;
  margin-bottom: 5px;
  display: inline-block;
  margin-right: 50px;
}

.finList-title span {
  font-size: 16px;
  font-weight: 400;
  color:rgb(153, 159, 189);

}

.finList-total {
  display: block;
  font-weight: 200;
  font-size: 15px;
  color: #a3b3bd;
}

.finList-addNewMov {
  margin-top: -4px;
  margin-left: 15px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(23, 161, 23);
  cursor: pointer;
}

.toggle-click-open {
  width: 300px;
  justify-content: space-between;
}