* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #282E3F;
  color: #fff;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 400px;
}


.img {
  width: 100px;
  height: 100px;
}