@import url('containers/containers.css');

@import url('components/comp-finList-box.css');
@import url('components/table.css');
@import url('components/buttons.css');
@import url('components/comp-modal-add-finList.css');
@import url('components/comp-modal-add-mov.css');





* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #1C1F33;
}
