/* общий стиль кнопок */
.btn {
  width: 100%;
  padding: 13px 0;
  background: #EF3957;
  border-radius: 5px;
  border: none;
  border-radius: 50px;
  color: #fff;
}


/* кнопка открытия модалки добавления нового контента */
.addNewContentWindow {
  color: #fff;
  text-decoration: none;
  background: #627ecc;
  padding: 10px 15px;
  /* display: inline-block; */
  position: absolute;
  top: 65px;
  right: 10px;
}


/* кнопка добавления нового контента в модальном окне добавления контента */
.btn-addContent {
  width: 60%;
  display: inline-block;
  margin-top: 20px;
}

/* кнопка Sign Out */
/* контейнер Sign Out */
.btn-exit-box {
  position: absolute;
  top: 0;
  right: 0;

}

/* кнопка */
.btn-exit {
  color: rgb(179, 94, 94);
  font-size: 20px;
  text-decoration: none;
}

.btn-del-content {
  display: inline-block;
  margin-top: 5px;
  color: rgb(216, 158, 158);
}