.section-title {
  text-align: center;
  width: 100px;
  margin: 20px auto;
  font-size: 20px;
}


.news-ul {
  list-style: none;
}

.news-ul li {
  padding: 10px;
  padding-top: 20px;
  margin-bottom: 20px;
  /* background-color: #41444e; */
  border-radius: 5px;
  border: 1px solid #41444e;
}


.title, .description, .link, .pubDate {
  display: block;
  margin-bottom: 10px;
}

.title {
  font-size: 19px;
  margin-bottom: 11px;
}

.link {
  text-align: right;
  display: inline-block;
  margin-left: 155px;
}

.link a {
  text-decoration: none;
  color: rgb(164, 189, 165);
  font-size: 17px;
  margin-right: 20px;
}


.description {
  color: rgb(170, 167, 197);
  font-size: 16px;
}

.pubDate {
  font-size: 12px;
  color: rgb(129, 126, 150);
  display: inline-block;
}

.select-stock-input {
  background: transparent;
  width: 100px;
  height: 35px;
  color: #fff;
}

.select-stock-input :active {
  outline: none;
}

.btn-search-news {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

