.input-add-fl-name,
.input-add-mov-date,
.input-add-mov-amount {
  border: 1px solid #7A3A5D;
  background: transparent;
  width: 70%;
  border-radius: 50px;
  color: rgb(204, 202, 202);
  padding: 10px 15px;
  font-size: 15px;
  margin: 20px auto;
  display: block;
}

.input-add-fl-name:focus,
.input-add-mov-date:focus,
.input-add-mov-amount:focus {
  outline: none;
}